{
  "projects": {
    "default": "landings-dev",
    "dev": "landings-dev",
    "stage": "landings-stage",
    "prod": "landing-admin-9452e"
  },
  "targets": {
    "landings-dev": {
      "hosting": {
        "admin": ["landings-dev-admin"],
        "template": ["landings-dev-template"]
      }
    },
    "landings-stage": {
      "hosting": {
        "admin": ["landings-stage-admin"],
        "template": ["landings-stage-template"]
      }
    },
    "landing-admin-9452e": {
      "hosting": {
        "admin": ["landing-admin-9452e"],
        "template": ["landing-template-9452e"]
      }
    }
  }
}
