.firebase/
*.log
.tmp-extract-test/
.cursorrul

node_modules/
dist/
dist-ssr/

*.local
.env.production

.cursor/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

landing-template/Untitled
