.firebase/
.firebaserc
*.log
.tmp-extract-test/
.cursorrules

node_modules/
dist/
dist-ssr/

*.local
.env
.env.development
.env.staging
.env.production
functions/.env
!.env.example
!.env.*.example
!functions/.env.example
!functions/.env.*.example

.cursor/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

landing-template/Untitled
